.template{
    background-color: rgb(128, 114, 114);
   Width:100%;
   
   
}




/* .container{
    display: flex;
    transform: translate(540px, 100px);
   border-radius: 50% 40% 80%;
   box-shadow: 0 0 50px 10px rgb(219, 205, 205);
    width: 200px;
    height: 300px;
    background-color: rgb(159, 155, 155)
} */